* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(244, 223, 197, 0.67);
}

nav {
    background-color: rgba(204, 49, 61, 1);
    display: flex;
    justify-content: space-between;
}

#logo {
    width: 4em;
    height: 4em;
    margin-left: 20px;
    margin-top: 3px;
    background-color: transparent;
}

button {
    border-radius: 50%;
    width: 4em;
    height: 4em;
    margin-right: 4px;
    border-color: transparent;
    margin: 4px;
    background-color: rgba(244, 223, 197, 0.67);
}

a {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
    color: antiquewhite;
    transition: background-color 0.10s;
}

.links:hover {
    background-color: rgba(244, 223, 197, 0.67);
    color: rgba(204, 49, 61, 1);
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
}

h1 {
    margin-top: 20px;
    margin-left: 15px;
    font-weight: bold;
    margin-bottom: 15px;
}

#objetivo {
    margin-top: 20px;
}

section {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    justify-content: space-between;
}

section div {
    padding: 7px;
    width: 300px;
    height: 200px;
    margin-inline-end: 170px;
}

section p {
    text-align: justify;
    font-size: 20px;
    width: 600px;
    margin: 10px;
    margin-top: 10px;
}

section img {
    margin-top: -50px;
}

.creators {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.creators:hover {
    animation: pulso 1s infinite;
}

@keyframes pulso {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.adms {
    font-size: 25px;
    margin-top: 5px;
}

.adms {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

#criadoras {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
    margin-bottom: 50px;
}

footer {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(204, 49, 61, 1);
    font-size: 15px;
    height: 20px;
    color: antiquewhite;
    bottom: 0;
    position: fixed;
    width: 100%;
}

#perfil {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: none;
    background-image: url("./img/perfil.webp");
    background-size: 9em;
    background-repeat: no-repeat;
    background-position-x: center;
    margin-right: 5em;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    background-color: #CC313D;
}

.dropdown-child {
    display: none;
    min-width: 133px;
    position: absolute;
    z-index: 1;
}

.dropdown-child a {
    color: rgb(255, 255, 255);
    padding: 16px 16px;
    text-decoration: none;
    display: block;
    background-color: #CC313D;
    border-radius: 0;
}

.dropdown:hover .dropdown-child {
    display: block;
    margin-right: 6em;
}

